{% load staticfiles %}


<!DOCTYPE html>
<html>
    
<head>
    <title>how's your day?</title>
    
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel ="stylesheet" href="{% static 'css/story6.css' %}">
</head>

<body>
    <div class="container-fluid h-100">
    
        <p><strong>Hello! How's your day?</strong></p>
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-sm-6">
                
                <form action="" method="POST" class="w3-left-align">
                    {% csrf_token %}                    
                    {{ form }}
                    <input type="submit" id = "submit" value="Post me!">
                </form>
            </div>
        </div>
    </div>
    <div class="container-fluid h-100">
            <div class="card" style="width: 18rem;">
                    <div class="card-header bg-secondary">
                      <p style="color: white;"><Strong>Status Aku</Strong></p>
                    </div>
                    {% for Status in stat %}
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">
                       <p> {{Status.status}}
                      </li>   
                    </ul>
                    {% endfor %}  
            </div>
    </div>
</body>

</html>

