{% extends 'navbar.html' %}
{% load static %}
{% block content %}

<div class = "row">
  <div class="col-3">
  </div>
  <div class = "col-2">
      <img class="contact-logo" src="{% static 'whatsapp.png' %}" alt="contactlogo" style="width: 100%">
  </div>
  <div class = "col-2">
      <img class="contact-logo" src="{% static 'email.png' %}" alt="contactlogo" style="width: 100%">
  </div>
  <div class = "col-2">
      <img class="contact-logo" src="{% static 'instagram.png' %}" alt="contactlogo" style="width:100%">
  </div>
  <div class="col-3">
  </div>
</div>

                <form>
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label for="first-name">First Name</label>
                        <input type="text" class="form-control" id="fullname" placeholder="Full Name">
                      </div>
                      <div class="form-group col-md-6">
                        <label for="last-name">Last Name</label>
                        <input type="text" class="form-control" id="lastname" placeholder="Last Name">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputAddress">Address</label>
                      <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                    </div>
                    <div class="form-group">
                      <label for="inputAddress2">Address 2</label>
                      <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
                    </div>
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label for="inputCity">City</label>
                        <input type="text" class="form-control" id="inputCity">
                      </div>
                      <div class="form-group col-md-4">
                        <label for="inputState">State</label>
                        <select id="inputState" class="form-control">
                          <option selected>Choose...</option>
                          <option>...</option>
                        </select>
                      </div>
                      <div class="form-group col-md-2">
                        <label for="inputZip">Zip</label>
                        <input type="text" class="form-control" id="inputZip">
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="gridCheck">
                        <label class="form-check-label" for="gridCheck">
                          Check me out
                        </label>
                      </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Sign in</button>
                  </form>
                  <p></p>
           


                    {% endblock %}