{% extends 'navbar.html' %}
{% load static %}
{% block content %}

    <div class = "schedule">
        My Schedule
    </div>
    
            <div class = "table">
                    <table style = "width:100%">
                        {% if jadwal %}
                        <tr>
                            <th>Name</th>
                            <th>Day</th>
                            <th>Date</th>
                            <th>Time</th>
                            <th>Venue</th>
                            <th>Category</th>
                        </tr>

                {% for jadwal_data in jadwal %}
                    <tr>
                    <td class="name">{{ jadwal_data.nama_kegiatan }}</td>
                    <td class="day">{{ jadwal_data.hari_kegiatan }}</td>
                    <td class="date">{{ jadwal_data.tanggal_kegiatan }}</td>
                    <td class="time">{{ jadwal_data.waktu_kegiatan }}</td>
                    <td class="venue">{{ jadwal_data.tempat_kegiatan }}</td>
                    <td class="category">{{ jadwal_data.kategori_kegiatan }}</td>
                    </tr>
                {% endfor %}

                {% else %}
                <p>There's no activity</p>
                {% endif %}
                </table>
                </div>
            
            <div class = "row">
            <div class = "col-6">
            <form id = "scheduleform" action="{% url 'delete_response' %}">
                <button type="submit" class="btn btn-default">Delete All</button>
            </form>
        </div>
    </div>
            

{% endblock %}