{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  
    <meta charset="UTF=8">
    <title>Yafonia Hutabarat</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cormorant+Infant">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abhaya+Libre">
<link rel="stylesheet" href="{% static 'story3.css' %}" type="text/css">
</head>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <span class="navbar-span" style="margin-left:auto; margin-right: auto">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link navbar-font" href="{% url 'tes' %}">HOME</a>
      </li>

      <li class="nav-item active">
        <a class="dot"></a>
      </li>

      <li class="nav-item">
        <a class="nav-link navbar-font" href="{% url 'tes2' %}">PROFILE</a>
      </li>
      <li class="nav-item active">
          <a class="dot"></a>
        </li>
      
      <li class="nav-item">
        <a class="nav-link navbar-font" href="education.html">EDUCATION</a>
      </li>
      <li class="nav-item active">
          <a class="dot"></a>
        </li>
      
      <li class="nav-item">
        <a class="nav-link navbar-font" href="experience.html">EXPERIENCE</a>
      </li>
      <li class="nav-item active">
          <a class="dot"></a>
        </li>
      
      
      <li class="nav-item">
        <a class="nav-link navbar-font" href="{% url 'jadwal_response' %}">MY SCHEDULE</a>
      </li>
      <li class="nav-item active">              
        <a class="dot"></a>
     </li>

     <li class="nav-item">
        <a class="nav-link navbar-font" href="{% url 'jadwal_submission' %}">BOOK ME</a>
      </li>
      <li class="nav-item active">
        <a class="dot"></a>
      </li>

      <li class="nav-item">
        <a class="nav-link navbar-font" href="{% url 'tes3' %}">CONTACT</a>
      </li>
      <li class="nav-item active">
          <a class="dot"></a>
        </li>

        <li class="nav-item">
          <a class="nav-link navbar-font" href="{% url 'subscribe' %}">SUBSCRIBE</a>
        </li>

 
      </span>

    </ul>
  </div>
</nav>
<body>
    {% block content %}
    {% endblock %}
</body>