{% extends 'navbar.html' %}
{% load static %}
{% block content %}


  
              
            <div class="row">
                <div class="column">
            <img class="profile-picture" src= "{% static 'IMG_1881.jpg' %}" alt="profilepicture" style="position:absolute; left:10%">
                </div>
                <div class="column">
            <div class= "profile-description" style="position:absolute; left:40%; top:5%">
                    <p>hi! <br>
                    <strong>I'm Yafonia Hutabarat. </strong> I'm 19 years old. I'm an undergraduate student of Computer Science Faculty of University of Indonesia.</p>
                </div>
            </div>
            </div>

{% endblock %}
           
            