{% extends 'navbar.html' %}
{% load static %}
{% block content %}

<div class = "schedule">
    What's your plan?
</div>
<div class = "schedule2">
    <form id = "scheduleform" method = "POST" action="{% url 'post_jadwal' %}">
        {% csrf_token %}
        {{message_form.as_p}}

        <br>
        <button type="submit" class="btn btn-default">Submit</button>
        
    </form>
</div>
{% endblock %}