
{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link href="{% static 'css/mywebsite.css' %}" rel="stylesheet">
        
    </head>
    
        <body class="text-center">
            <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
            <form class="form-signin" method = "POST">
                {% csrf_token %}
                {{subscribe_form}}
              <!-- <img class="mb-4" src="../../assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
              
              <label for="inputName" class="sr-only">Name</label>
              <input type="text" id="inputEmail" class="form-control" placeholder="Name" required="" autofocus="">
              <label for="inputEmail" class="sr-only">Email address</label>
              <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">
              <label for="inputPassword" class="sr-only">Password</label>
              <input type="password" id="inputPassword" class="form-control" placeholder="Password" required=""> -->
              <div class="checkbox mb-3">
                
              </div>
              <button onclick = postForm() disabled id="submit_btn" class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
              <p id = "info">Hi! Fill in the form please</p>
            </form>
            <div class =  "table">
            <table style = "width:50%; margin: 0px auto;">
              <thead>
                <tr>
                    <th>No</th>
                    <th>Subscriber's Name</th>
                    <th>Subscriber's Email</th>
                    <th></th>
                </tr>
              </thead>
              <tbody>

              </tbody>
            </table></div>

            
            <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
            <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
            <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
            <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
            <script src = "{% static 'js/subscribe.js' %}"></script>
        
        
    </body>
    </html>
  