body{

    background-color : #E5E5E5;
}

p {
    font-family: 'Cormorant Infant', serif;
    font-size: 70px;
    font-weight: bold;
    margin-top: 200px;
    margin-bottom: 100px;
    margin-right: 200px;
    margin-left: 300px;
}

.navbar-font{
    font-family: 'Abhaya Libre', serif;
    font-size: 25px;
    margin-top: 50px;
    margin-left: 30px;
}

.dot {
    height: 7px;
    width: 7px;
    background-color: #FFE072;
    border-radius: 50%;
    margin-top: 72px;
    margin-left: 30px;
    display: inline-block;
  }

.navbar-span{
    margin-left: 30px;
}

.column{
    float: left;
}

.left{
    width: 20%;
}

.right{
    width: 80%;
}

.profile-picture{
    height: 70%;
    width: 35%;
    border-radius: 100%;
    margin-top: 10%;
    margin-left: 5%;
}

.profile-description{
    position: relative;
    float: right;
    font-family: 'Cormorant Infant', serif;
    font-size: 8vw; 
    margin-top: 0%;
    margin-right:10%;
}

.row{
    padding: 10px 100px;
}

.contact-logo{
    height: 200px;
    width: 200px;
}

.profile-container{
    position: relative;
    padding-top:1%;
    padding left:15%;
}
@media screen and (max-width:){
    
}



