body {
    padding-top: 3.5rem;
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color:#fefefa;
    display: block;
}

@media (min-width: 576px){

.jumbotron {
    padding: 4rem 2rem;
    margin-bottom: 2rem;
    background-color: #000000;
    border-radius: .3rem;
}

div {
    display: block;
}

}

.ml11 {
    font-weight: 900;
    font-size: 3.5em;
    color: #ffffff;
    text-align: center;
    font-size: 5rem;
    font-family: 'Libre Baskerville', serif;
  }
  
  .ml11 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.1em;
    padding-right: 0.05em;
    padding-bottom: 0.15em;
  }
  
  .ml11 .line {
    opacity: 0;
    position: absolute;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: #fff;
    transform-origin: 0 50%;
  }
  
  .ml11 .line1 { 
    top: 0; 
    left: 0;
  }
  
  .ml11 .letter {
    display: inline-block;
    line-height: 1em;
  }

  .table-heading{
      text-align: center;
      font-family: 'Quattrocento', serif;
  }
  
  .table{
      text-align: center;
      margin-left: auto;
      margin-right: auto;
  }


  .star{
    width: 3%;
    margin-right: 5px;
    padding-right: 5px;
    display: inline-block;
  }

  .numbers{
    display: inline-block;
    margin-right: 5px;
    padding-right: 40px;
    float: right;
  

  }

  .blank-star{
    width: 3%;
  }

#star{
  color: white;
  cursor: pointer;
}


.topnav {
  overflow: hidden;
  background-color: #e9e9e9;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #2196F3;
  color: white;
}

.topnav .search-container {
  float: right;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
}

@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
  .topnav a, .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;  
  }
}
* {box-sizing: border-box;}