
{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <!-- <link href="{% static 'css/mywebsite.css' %}" rel="stylesheet"> -->
        
    </head>
    
        <body class="text-center">
            <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
            <a href="{% url 'social:begin' 'google-oauth2' %}">Login with Google</a>
            <br>
            
           

            
            <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
            <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
            <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
            <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
            <!-- <script src = "{% static 'js/subscribe.js' %}"></script> -->
        
        
    </body>
    </html>
  