{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<title>Hi, welcome to my page!</title>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/myProfile.css' %}">

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<link rel="icon" href="../../../../favicon.ico">
<link href="../../dist/css/bootstrap.min.css" rel="stylesheet">
<!-- <link href="cover.css" rel="stylesheet"> -->
</head>

<body onload="myFunction()" style="margin:0;">
<div id="loader">
</div>
<div style="display:none;" id="myDiv" class="animate-bottom">
<!-- <div id="loading">
    <img id="loading-image" src="images/ajax-loader.gif" alt="Loading..." />
</div> -->

<!-- <canvas id="spinner"></canvas> -->
<!-- <div id="loader-wrapper">
  <div id="loader"></div>
  
  <div class="loader-section section-left"></div>
  <div class="loader-section section-right"></div>
  
</div> -->

<div class="container">
      <main role="main" class="inner cover">
        <h1 class="cover-heading">Hi, there!</h1>
        <p class="lead">My name is Yafonia Hutabarat. Choose what you want to know about me:</p>

        <button class="accordion">Activities</button>
          <div class="panel">
            <p>Currently surviving in Fasilkom
              <br>
              <br>Meetings<br>
              <br>Surviving again
            </p>
          </div>

          <button class="accordion">Organization and Experiences</button>
          <div class="panel">
            <p>Staff of Event Division on 25th CGT<br>
              <br>Staff of Stage Division on COMPFEST X<br>
              <br>Vice of Fund-Raising on OpenHouse Fasilkom 2018
            </p>
          </div>

          <button class="accordion">Achievements</button>
          <div class="panel">
            <p>Survived 1 year in Fasilkom</p>
          </div>
        <p class="lead">
          
        </p>
      

      <footer class="mastfoot mt-auto">
        <div class="inner">
          <p>Wanna see my other side?</p>
          <a href="#" class="btn btn-lg btn-secondary">Change Theme</a>
        </div>
      </footer>
    
    
  </main>

    <main role="main" class="inner cover">
      <img class="profile-pict" src="{% static 'sinical2.jpg' %}" alt="profile pict" style="transform: rotate(90deg);">
    </main>
  </div>
  </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src = "{% static 'js/myProfile.js' %}"></script>
    <!-- <script language="javascript" type="text/javascript">
      $(window).load(function() {
      $('#loading').hide();
      });
    </script> -->

  

</body>
</html>