{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <meta name="google-signin-client_id" content="736287338769-91oc9hhgbsm0abnd8qqc9n1g807mqms4.apps.googleusercontent.com">
        <link rel="icon" href="../../../../favicon.ico">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css?family=Prata" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Quattrocento" rel="stylesheet">
        
        
    
        <title>Books</title>
    
        <!-- Bootstrap core CSS -->
        <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">
    
        <!-- Custom styles for this template -->
        <link href="{% static 'css/books.css' %}" rel="stylesheet">
      </head>

<body>

 
  <div class="topnav">
    <div class="search-container">
    
        <input type="text" id = "search" placeholder="Search.." name="search">
        <button type="submit" id = "searchbutton"><i class="fa fa-search"></i></button>
      
    </div>
  </div>
  
    <main role="main">

        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="jumbotron">
          <div class="container">
            <h1 class="ml11">
            <span class="text-wrapper">
                <span class="line line1"></span>
                <span class="letters">Let's read books.</span>
              </span>
            </h1>
          </div>
        </div>
  
      </main>
      <br>
      <div class = "row container-fluid my-4">
      <div class="col-md-12">
          <p class="numbers" text-align = "right">0</p>
        <img class="star" src="{% static 'star.png' %}" alt="star" align ="right">
      </div>
    </div>
      <br><br>
      <main role="main" class="container">
          
        
        <script>

          function signOut(){
            sessionStorage.clear();
            var auth2 = gapi.auth2.getAuthInstance();
            auth2.disconnect();
            window.location.href = '/Books/login';
            auth2.singOut().then(function (){
              console.log('User signed out.');
            });
          }
          function onLoad() {
                gapi.load('auth2', function() {
                  gapi.auth2.init();
                });
              }
          </script> 

        <div class="starter-template">
            {% if user.is_authenticated %}
            <span class="teks-besar"><strong>Welcome, {{ request.user.first_name }}</strong></span><br/>
            <button id="logout_btn" onclick=signOut(); href = "{% url 'logout' %}" class="btn btn-lg btn-primary btn-block">Log Out</button>
            {% else %}
            <button id="login_btn" href = "{% url 'login' %}" class="btn btn-lg btn-primary btn-block">Log In</button>
            {% endif %}
          <h1 class = "table-heading">Highlight of the month</h1>
          
        
    <br> <br>

        </div>
        <div class = container>
            <div class = "col-md-6">
        <div class =  "table">
            <table style = "width:50%; margin: 0px auto;">
              <thead>
                <tr>
                    <th>No</th>
                    <th></th>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Published Date</th>
                    <th>Add to Favourites</th>
                </tr>
              </thead>
              <tbody>

              </tbody>
 
        </table></div>
        </div>
      </main>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src = "{% static 'js/books.js' %}"></script>
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script> 

  

</body>
</html>
